.site-header {
    width: 1110px;
    margin: auto;    
}
.site-navigation {
    text-transform: uppercase;
    list-style: none;  
    display: inline-block; 
    margin-top: 36px;   
}
.logo {
    display: inline-block;
    width: 78px;
    height: 21px;
    margin-right: 460px;
    vertical-align: top;
    margin-top: 36px;
    margin-bottom: 32px;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation li:not(:last-child) {
    margin-right: 30px;
}
.site-navigation li:hover a {
    color: #1abc9c;
}
.site-navigation a {
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 11px;
    color:  #555252;
    font-weight: 900;
    text-transform:uppercase;
    text-decoration: none; 
}
.big-slide {
    display: block;
    max-width: 100%; 
    height: auto;
    position: relative; 
   
   
}
.left-button, .right-button {
    position: absolute;
}
.left-button {
    left: 245px;
    top: 50%;
    transform: translateY(-50%);
    width: 106px;
    height: 106px;
    background-color: #54a18f;
    border: none;
}
.right-button {
    right: 245px;
    top: 50%;
    transform: translateY(-50%);
    width: 106px;
    height: 106px;
    background-color: #1abc9c;
    border: none;
}
.text-in-slide {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 430px;
}
.text-slide {
    font-size: 60px;
    font-family: "Roboto", suns-serif;
    color:  #ffffff;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.text-slide2 {
    font-size: 24px;
    font-family: "Roboto", suns-serif;
    color:  #ffffff;
    text-transform: uppercase;
    margin:0;
}
.product-list li {
    display: inline-block;
}
.product-list li:not(:last-child) {
    margin-right: 30px;
}
.product-list {
    padding: 0;
    margin: 0;   
}
.product-list-item {
    position: relative;
    height: 322px;
    width: 255px;   
}
.overlay {
    width: 235px;
    height: 261px;
    background-color: #000000;
    opacity: 0.549;   
    position: absolute;  
    top: 10px;
    left: 10px; 
    opacity: 0;
}
.like, .arrow, .clock {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 0;  
}
.like, .arrow {
    margin-right: 9px;
    margin-bottom: 9px;
   
}
.clock {
    margin-bottom: 9px;
    
    
}
.cart {
    width: 176px;
    height: 50px;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 0;  
   
}
.button4 {
    margin: 0;
    position: absolute;
}
.add-to-cart {
    position: relative;
}
.image-cart {
    position: absolute;
}

.new-collection {
    margin: auto;
    background-color: #e9f0fd;
    width: 100%; 
    padding-top: 100px;
  
} 
h2 {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    text-transform:uppercase;
    text-align: center;
    color: #515151;
}
h2::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: " ";
    margin: 32px auto;
    margin-bottom: 80px;
}
.cont {
    display: flex; 
}
.product-list-item:hover .overlay {
    opacity: 0.549;

}
.button4 {
    font-family: "OpenSans," sans-serif;
    font-size: 14;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.first-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
   
}


.like:hover button {
    background-color: #1abc9c;
}