
.site-header {
    width: 1110px;
    margin: 0 auto;
    padding:  0;
}
.logo {
    float: left;
    /* padding-top: 38px; */
}

.logo::first-letter {
      color: #1abc9c;
      font-family: Roboto, sans-serif;
      font-weight: 900;       
}
.site-navigation {
    margin: 0;
    padding: 5px 0;
    float: right;
    list-style: none;
}
.navigation {
    margin-top: 30px;
    margin-bottom: 90px;
}
.site-navigation a {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 11px;
    color:  #555252;
    font-weight: 900;
    text-transform:uppercase;
    text-decoration: none;
}
.site-navigation li:hover a {
    color: #1abc9c;
}
.site-navigation li:not(:last-child) {
    margin-right:30px;
}
.site-navigation li {
    float: left;
}
h2::after {
    display: block;
    width: 160px;
    height: 7px;
    background-color:  #1abc9c;
    content: "";  
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
}
h3::after {
    display: block;
    width: 137px;
    height: 4px;
    background-color:  #1abc9c;
    content: "";  
    margin: 14px 30px 0 0; 
    position: absolute;
    bottom:0;
   
}
h2 {
    margin: 0;
    position: relative;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #515151;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px;
    padding-bottom: 22px;
}

h3 {
    margin: 0;
    position: relative;
}
.products {
    padding-bottom: 92px;
}
.news-list-about p {
    padding-top: 30px;
}
.product-list {
    list-style: none;
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}
.product-list-img {
    margin-bottom: 0;
}
.product-list-name p::after {
    display: block;
    width: 255px;
    height: 40px;
    background-color:#323232;
    content: "";
}
.news-list {
    list-style: none;
}
.product-list-item p {
    font-size: 18px;
    font-family: "Roboto";
    color: #111111;
    text-transform: uppercase;
}
.product-list-item {
    float: left;
    width: 255px;   
    position: relative;
    height: 322px; 
}
.product-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product-list-item:not(:nth-child(n+5)) {
    margin-bottom: 30px;
}
.product-list-price {
    float: right;
    width: 20%;
    padding: 5px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-align: center;
    box-sizing: border-box;
    background: #8c8c8c;
    color: #ffffff;
}
.product-list-item p {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color:#ffffff;
    box-sizing: border-box;
    float: left;
    margin:0;
    width: 80%;
    padding: 5px;
    background: #323232;
}
.price_name {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product-list-item:hover p {
    background-color: #1abc9c;
}
.product-list-item:hover span {
    background-color: #7fd9c7;
}

.news-list-item {
    float: left;
    width: 350px;
}
.news-list-item:not(:last-child) {
    margin-right: 30px;
}
.news-list {
    margin: 0;
    padding-left: 0;
}
.news-list-subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    padding-bottom: 12px;
}
.news-list-about {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-top: 25px;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.container{
    width: 1110px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 90px;
}
button {
    display: block;
    border: none;
    background-color:#1abc9c;
    border-radius: 3px;
    width: 160px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height:50px;
    font-weight: 300;
    color: #ffffff;
}



      


