body{
    font-family:"OpenSans Regular";
    color: #555252;
    font-size: 14px;
    line-height: 26px;
}
.page-header {
    width: 1110px;
    margin: 0 auto;
    padding:  0;
    width: 1110px;
    margin: 0 auto;
}
.logo {
    font-size: 30px;
    font-family: Roboto, sans-serif;
    color: #555252;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    height:100px;
    padding-top: 20px;
}

.logo::first-letter {
      color: #1abc9c;
      font-family: Roboto, sans-serif;
      font-weight: 900;       
}
.site-navigation {
    margin: 0;
    padding:30px 0;
    float: right;
}
.site-navigation li {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 11px;
    color:  #555252;
    font-weight: 900;
    text-transform:uppercase;
    list-style: none;
}
.site-navigation li:first-child {
    color: #1abc9c;
}
.site-navigation li:not(:last-child) {
    margin-right:30px;
}
.site-navigation li {
    float: left;
}
h2::after {
    display: block;
    width: 160px;
    height: 7px;
    background-color:  #1abc9c;
    content: "";  
    margin: 32px auto; 
}

.product-list {
    list-style: none;
}
.product-list-item p {
    font-size: 18px;
    font-family: "Roboto";
    color: #111111;
    text-transform: uppercase;
}
.product-list-item {
    float: left;
    width: 255px;
    height: 322px;
    scroll-padding-inline-start:0;
}
.product-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product-list-item:not(:nth-child(n+5)) {
    margin-bottom: 30px;
}

.product-list {
    margin-top: 92px;
    margin-bottom: 105px;
    padding-left: 0;
}
h2 {
    font-size: 48px;
    font-family: "Roboto";
    color: #515151;
    text-transform: uppercase;
    text-align: center;
}
.clearfix::after {
display: table;
content: "";
clear: both;
}
.container{
    width: 1110px;
    margin: 0 auto;
}



      


