.container {
    width: 1200px;
    margin: 0 auto;
}
.link {
    text-decoration: none;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
   margin-bottom: 160px;
}
.site-navigation {
    display: flex;
    align-items: center;
}
.site-navigation__item:not(:last-child) {
    margin-right: 55px;
}
.site-navigation__link {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    transition-property: border-bottom, color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.site-navigation__link:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 10px;
}

.site-navigation__icon {
    background-color: transparent;
    cursor: pointer;
    fill: #ffffff;
}
.site-navigation__icon:hover {
    fill: #fce38a;
}
.head {
    text-align: center;
    position: relative;
}
.page-header {
    background-image: url(../img/picture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.page-header__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    opacity: 0.9;
}
.page-title {
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    line-height: 1.6;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}
.page-subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 835px;
    margin: 0 auto;
    margin-bottom: 125px;
}
.button-more {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 230px;
    padding: 11px 25px;
    text-align: center;
}
.subtitle:after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: "";
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}
.title {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
}
.subtitle {
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}
.title, .subtitle {
    text-align: center;
}
   
.list-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;   
}

.h4-1::before {
    content: url(../img/svg/ALARM.svg);
    position: absolute;
    right: 330px;
}
.h4-2::before {
    content: url(../img/svg/LINE\ GRAPH.svg);
    position: absolute;
    right: 330px;
}
.h4-3::before {
    content: url(../img/svg/COMPUTER\ _\ OK.svg);
    position: absolute;
    left: 0;
}
.h4-4::before {
    content: url(../img/svg/BOOK\ 2.svg);
    position: absolute;
    right: 330px;
}
.h4-5::before {
    content: url(../img/svg/HOME.svg);
    position: absolute;
    right: 330px;
}
.h4-6::before {
    content: url(../img/svg/IMAGE.svg);
    position: absolute;
    right: 330px;
}
.list-service li {
    list-style: none;
    margin-top: 0;
    width: 300px;
    position: relative;
    padding-left: 60px;
    margin-bottom: 100px;

}
.team-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}
.about-team {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #999999;
    margin-top: 0;
    margin-bottom: 90px;
}
.about-service {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b3b3b3;
}

h4 {
    margin-bottom: 18px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.name {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.occupation {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
}
.page-footer {
    margin-top: 88px;
    border-top: 1px solid #e5e5e5;
    height: 62px;
    width: 1201px;
    margin: auto;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    width: 1201px;
    margin: auto;
    
}
.text-footer {
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    margin-top: 24px;
}
.text-footer2 {
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #f38181;
}
.input-field {
    border: 1px solid #e7e7e7;
    width: 229px;
    font-family: "Roboto", sans-serif;
    color: #d9d9d9;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;  
    font-style: italic;
    margin-top: 10px;
    outline: 0;
    height: 40px;
    padding: 0;
    text-indent: 12px;
   
}
.subscribe {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
}
.field-button {
    display: flex;
}
.overlay {
    width: 380px;
    height: 470px;
    background-image: linear-gradient(rgb(243,129,129) 0%, rgb(252,227,138) 100%);  
    position: absolute;   
    opacity: 0; 
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.team-item {
    position: relative;
    cursor: pointer;
}
.team-item:hover .overlay {
    opacity: 0.9;
}
.social-media {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    list-style: none;
   
}
.social-media:hover  button {
    background-color:rgb(243, 129, 129);
    fill: #ffffff;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.team-item:hover  { 
    transition-duration: 200ms;
    opacity: 0.9;
    transform: translate(-10px, -10px);
    
}
.team-item:hover .overlay {
    transition-property: background-image, box-shadow, opacity;
    opacity: 0.9;
    box-shadow: 10px 10px #95e1d3;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

button {
    font-size: 0;
    width: 56px;
    height: 56px;
    border: none;
    background-color: #fce38a;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: linear;
} 

.image-icons {
    top: 0;
    left: 0;
    width: 100%;
}

.icon-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0;  
}
.social-media:not(:last-child) {
    margin-right: 2px;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-header{
        background-image: url(../img/picture@2x.png);
    } 
}


  
  