.container {
    width: 1200px;
    margin: 0 auto;
}
.link {
    text-decoration: none;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.head_nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.nav__site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 55px;
}
.nav__link {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition-property: border-bottom, color;
    -o-transition-property: border-bottom, color;
    transition-property: border-bottom, color;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.nav__link:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 10px;
}

.nav__icon {
    background-color: transparent;
    cursor: pointer;
    fill: #ffffff;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.nav__icon:hover {
    fill: #fce38a;
}
.header__head {
    text-align: center;
    position: relative;
}
.header {
    background-image: url(../img/picture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px 0 230px;
}
.header__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(252,227,138)), to(rgb(243,129,129)));
    background-image: -o-linear-gradient(bottom, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: linear-gradient(0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    opacity: 0.9;
}
.title {
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    line-height: 1.6;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 176px;
}
.subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 835px;
    margin: 0 auto;
    margin-bottom: 125px;
}
.button-more {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    /* margin-bottom: 230px; */
    padding: 11px 25px;
    text-align: center;
}
.section-1{
    padding-top: 102px;
    padding-bottom: 40px;
}
.section-subtitle:after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: "";
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.section-title {
    margin: 0 auto;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
}
.section-subtitle {
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}
.section-title, .section-subtitle {
    text-align: center;
}
   
.services__list-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0; 
}
.services__svg {
    fill: #95e1d3;
    position: absolute;
    left: 0px;
    top: 20px;
}

.services__item {
    list-style: none;
    margin-top: 0;
    width: 300px;
    position: relative;
    padding-left: 60px;
}
.services__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 100px;
}
.section-2 {
    padding-top: 49px;
    padding-bottom: 85px;
}
.section-team__team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.section-paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #999999;
    margin-top: 0;
    margin-bottom: 90px;
}
.services__about {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b3b3b3;
}

.services__title {
    margin-bottom: 18px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.section-team__name {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.section-team__occupation {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
}
.page-footer {
    margin-top: 88px;
    border-top: 1px solid #e5e5e5;
    height: 62px;
    width: 1201px;
    margin: auto;
}
.page-footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1201px;
    margin: auto;
    
}
.page-footer__text {
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    margin-top: 24px;
}
.page-footer__text2 {
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #f38181;
}
.input-field {
    border: 1px solid #e7e7e7;
    width: 229px;
    font-family: "Roboto", sans-serif;
    color: #d9d9d9;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;  
    font-style: italic;
    margin-top: 10px;
    outline: 0;
    height: 40px;
    padding: 0;
    text-indent: 12px;
   
}
.footer-button__subscribe {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
}
.footer-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.overlay {
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243,129,129)), to(rgb(252,227,138)));
    background-image: -o-linear-gradient(rgb(243,129,129) 0%, rgb(252,227,138) 100%);
    background-image: linear-gradient(rgb(243,129,129) 0%, rgb(252,227,138) 100%);  
    position: absolute;   
    opacity: 0; 
    -webkit-transition-duration: 200ms; 
         -o-transition-duration: 200ms; 
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.section-team__team-list--item {
    position: relative;
    cursor: pointer;
}
.section-team__team-list--item:hover .overlay {
    opacity: 0.9;
}
.icon-list__item {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    list-style: none;
    fill: rgb(243, 129, 129);   
}
.icon-list__item:hover  button {
    background-color:rgb(243, 129, 129);
    fill: #ffffff;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.section-team__team-list--item:hover  { 
    -webkit-transition-duration: 200ms; 
         -o-transition-duration: 200ms; 
            transition-duration: 200ms;
    opacity: 0.9;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    
}
.section-team__team-list--item:hover .overlay {
    -webkit-transition-property: background-image, opacity, -webkit-box-shadow;
    transition-property: background-image, opacity, -webkit-box-shadow;
    -o-transition-property: background-image, box-shadow, opacity;
    transition-property: background-image, box-shadow, opacity;
    transition-property: background-image, box-shadow, opacity, -webkit-box-shadow;
    opacity: 0.9;
    -webkit-box-shadow: 10px 10px #95e1d3;
            box-shadow: 10px 10px #95e1d3;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

button {
    font-size: 0;
    width: 56px;
    height: 56px;
    border: none;
    background-color: #fce38a;
    cursor: pointer;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
} 

.image-icons {
    top: 0;
    left: 0;
    width: 100%;
}

.icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0;  
}
.icon-list__item:not(:last-child) {
    margin-right: 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-header{
        background-image: url(../img/picture@2x.png);
    } 
}


  
  