/* MOBILE VERSION */
body {
    margin: 0 auto;

}  
.smart-object {
    text-align: center;
  }

.masthead {
    display: flex;
    min-width: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/Vector\ Smart\ Object.png);
    position: relative; 
}
.control {
    margin: 20px auto 138px;
    flex-basis: 100%;
}
.login {
    margin-right: 26px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
.signup {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    width: 90px;
    height: 36px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
}
.navigation {
    margin-bottom: 114px;
    text-align: center;
}
.logo {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
    cursor: pointer;
}
.subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 13px;
    width: 330px;
}
.paragraf {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 26px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 18px;
}
.find-partner {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    width: 280px;
    height: 40px;
    background-color: #ff4e50;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.partner {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 700;
    color: #333333;
    margin: 0 auto;
    margin-bottom: 14px;
    margin-top: 78px;
}
.pictures {
    position: relative;
    width: 121px;
    height: 121px;
    margin: 0 auto;
}
.portrait {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-1 {
    width: 17px;
    height: 17px;   
}
.icon-2 {
    width: 12px;
    height: 16px;
}
.icon-3 {
    width: 16px;
    height: 16px;
}
.icon-4 {
    width: 16px;
    height: 15px;
}
.icon-block-1 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #ff4e50;
    border: 4px solid #ffffff;
    border-radius: 50%;
}
.icon-block-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #ffa507;
    border: 4px solid #ffffff;
    border-radius: 50%;
}
.icon-block-3 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #1cd7ad;
    border: 4px solid #ffffff;
    border-radius: 50%;
}
.icon-block-4 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #4e73db;
    border: 4px solid #ffffff;
    border-radius: 50%;
}
.name {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
    margin-top: 22px;
    margin-bottom: 20px;

}
.about-partner {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #282828;
    width: 218px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.partner-list {
    width: 220px;
    margin: 0 auto;
}
.other-partners {
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    background-color: transparent;
    color: #ff4e50;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 58px;
    cursor: pointer;
}

@media (min-width: 767px) {
    .masthead {
        min-height: 700px;
        flex-basis: 100%;
        background-image: url(../img/Vector\ Smart\ Object-Tablet.png);
        padding-top: 38px;
        
    }
    .section-title {
        margin-bottom: 30px;
        width: 100%;
    }
    .subtitle {
        font-size: 52px;
        width: 520px;
    }
    .paragraf {
        width: 420px;
        font-size: 24px;
        margin-bottom: 32px;
    }
    .navigation {
        margin-bottom: 118px;
        text-align: right;
    }

}
@media (min-width: 992px) {
    .masthead {
        min-height: 700px;
        flex-basis: 100%;
        background-image: url(../img/Vector\ Smart\ Object-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding-top: 38px;
        
    }


}

