.container {
    width: 940px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}
.site-navigation {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
}
.site-navigation a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    transition: color 200ms ease-in;
}
.site-navigation li:hover a {
    color: #fed136;
}
.site-navigation li:not(:last-child) {
    margin-right: 40px;
}
.services-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 120px;
}
.services-list li {
    text-align: center;
}
h2 {
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 40px;
   line-height: 1.6;
   text-transform: uppercase;
   margin-top: 58px;
   margin-bottom: 0;
   color: #222222;
}
.text-under {
    text-align: center;
    margin: 0;
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #777777;
    margin-bottom: 80px;
}
.image {
    width: 67px;
    height: 67px;
    border: 4px solid #fedf71;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.icons-1 {
    width: 40px;
    height: 39px;
}
.icons-2 {
    width: 41px;
    height: 35px;
}

.icons-3 {
    width: 29px;
    height: 38px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
    color: #222222;
    margin-top: 0;
    margin-bottom: 10px;
}
.description {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #9b9b9b;
    margin: 0;
}
.contacts {
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 40px;
   line-height: 1.6;
   text-transform: uppercase;
   margin: 0;
   margin-top: 100px;
   color: #ffffff;
}
.text-under-2 {
    text-align: center;
    margin: 0;
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #777777;
    margin-bottom: 100px;
}
.contact-us {
    display: flex;
    background-image: url(../img/bg-footer.jpg);
    background-size: cover;
    margin: 0 auto;
}
.inputs-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input {
    width: 450px;
    height: 50px;
    display: block;
}
.input, textarea {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
}
textarea {
    padding: 20px;
    width: 450px;
    height: 212px;
    text-align: left;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 28px;
}
.send-message {
    margin-bottom: 115px;
    text-align: center;
}
.send_message {
    margin: 0 auto;
    width: 240px;
    height: 65px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #fed136;
    cursor: pointer;
}
input:invalid:not(:placeholder-shown) {
    outline-color: red;
}
input:valid:not(:placeholder-shown) {
    outline-color: green;
}

