.footer {
    background-color: $black-color;

   &__text {
        font-family: Montserrat, sans-serif;
        font-size: 11px;
        line-height: 37.5px;
        font-weight: 400;
        color: $gray-color-text;
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }
}

@media (min-width: 768px) { 
.footer__text {
    text-align: start;
    padding: 20px 40px;
}
}
@media (min-width: 1280px) { 
    .footer__text {
        padding: 20px 35px;
        font-size: 15px;
    }
    }
@media (min-width: 1680px) { 
    .footer__text {
        padding: 20px 180px;
        }
        }