.guarantee__title {
    @extend  %title-font;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: $white-color;
}
.guarantee__list {
    list-style: none;
    margin: 0;
    padding: 30px 0;

    &--svg {
        fill: $orange-color;
        width: 100%;
    }
    &--line {
        display: block;
        height: 100%;
        width: 1px;
        border-right: 1px dotted $gray-color-menu;
    }

    &-item {
        display: flex;

        &--text {
            font-family: Montserrat, sans-serif;
            font-size: 11px;
            line-height: 20px;
            font-weight: 500;
            color: $black-color;
            margin: 0;
        }
        &:not(:last-child) .guarantee__list-item--text {
            padding-bottom: 16px;
        }
        &--wrapper {
            display: flex;   
            flex-basis: 28px;
            flex-direction: column;
            align-items: center;
            margin-right: 22px;
        }
    }
}
.list-item-color {
    color: $orange-color;
}
@media (max-width:767px) {
    .guarantee {
        background-color: $gray-guarantee-section;
    } 
}

@media (min-width:768px) {
    .guarantee__title {
        font-size: 26px;
        padding-top: 60px;
    }
    .guarantee__list {
        background-color: $gray-guarantee-section;
        padding: 30px 60px;

        &-item:not(:last-child) .guarantee__list-item--text {
            padding-bottom: 24px;
        }
    }
    
}
@media (min-width:1280px) {
    .guarantee__title {
        font-size: 42px;
        padding-top: 90px;
        padding-bottom: 45px;
    }
    .guarantee__list {
        padding: 45px 115px;

        &-item--text {
            font-size: 18px;
        }
        &-item:not(:last-child) .guarantee__list-item--text {
            padding-bottom: 30px;
        }
    }
}
@media (min-width:1680px) {
    .guarantee__title {
        font-size: 46px;
        padding-top: 130px;
        padding-bottom: 50px;
    }
    .guarantee__list {
        padding: 60px 120px;

        &-item--text {
            font-size: 20px;
        }
        &-item:not(:last-child) .guarantee__list-item--text {
            padding-bottom: 35px;
        }
    }
}
