.how {
    padding-bottom: 53px;

    &__title {
        margin: 0;
        padding: 40px 0;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        line-height: 33px;
        font-weight: 800;
        color: $black-color;
        text-align: center;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &-descr {
            margin: 0 auto;
            font-family: Montserrat, sans-serif;
            font-size: 11px;
            line-height: 20px;
            font-weight: 400;
            color: #858585;
            width: 247px;
        }

        &-item {
            box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
            width: 290px;
            height: 267px;
            text-align: center;

            &:hover {
                background-color: $orange-color;
            }
            &:hover .how__list-svg {
                fill: $white-color;
            }
            &:hover .how__list-title {
                color: $white-color;
            }
            &:hover .how__list-descr {
                color: $white-color;
            }
            &:hover .how__list-title::after {
                background-color: $white-color;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }        
        &-svg {
            margin-top: 30px;
            fill: $orange-color;
        }
        &-title {
            margin: 0 auto;
            font-family: Montserrat, sans-serif;
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            color: $black-color;
            width: 190px;

           &::after {
                content: "";
                display: block;
                width: 25px;
                height: 2px;
                background-color: $orange-color;
                margin: 15px auto;
            }          
        }
    }
}
@media (min-width:768px) {
    .how__title {
        font-size: 26px;
        line-height: 33px;
    }
    .how__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 600px;
        margin: 0 auto;
    }
}
@media (min-width:1280px) {
    .how__title {
        font-size: 42px;
        line-height: 62.54px;
        text-align: left;
    }
    .how__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1215px;
        margin: 0 auto;

       &-item {
            width: 387px;
            height: 343px;
        }
       &-title {
            font-size: 18px;
            line-height: 29.17px;
            width: 255px;
        }
       &-descr {
            font-size: 15px;
            line-height: 31.25px;
            width: 280px;
        }
    }
}
@media (min-width:1680px) {
    .how__title {
        padding-top: 133px;
        padding-bottom: 50px;
        font-size: 46px;
        line-height: 1.4;
        text-align: left;
    }
    .how__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1340px;
        margin: 0 auto;

        &-item {
            width: 427px;
            height: 397px;
        }
        &-title {
            font-size: 20px;
            line-height: 29.17px;
            width: 285px;
        }
        &-descr {
            font-size: 18px;
            line-height: 31.25px;
            width: 280px;
        }
    }
}