.problems {
    background-color: $black-color;
    height: 520px;
    margin-bottom: 160px;

   &__list {
       background-color: $white-color;
       box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
       margin: 0;
    }

    &-title {
        @extend  %title-font;
        color: $white-color;
        width: 240px;
        letter-spacing: 0.9px;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 20px;

        &-orange {
            color: $orange-color;
        }   
    }
}
.list {
    list-style: none;
}
.problem__list-item {
    width: 212px;

    &:last-child {
        padding-bottom: 32px;
    }
}
.problem__list-title {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: $orange-color;
        line-height: 2.083;
        font-weight: 700;
        margin: 0;
        padding: 4px 0;

       &::before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 2px;
            background-color: $orange-color;
            margin-bottom: 4px;
            margin-right: 10px;
        }
    }
.problem__list-descr {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: $black-color;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.9px;
}
@media (min-width:768px) {
.problems {
background-image: url(../images/BG-dark.jpg);
background-repeat: no-repeat;
height: 333px;

&-title{
    font-size: 26px;
    line-height: 33px;
    width: 470px;
}
&__list {
    padding: 20px 100px 30px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 690px;
}
}
.problem__list-item {
    width: 230px;
}
} 
@media (min-width:1280px) {
    .problems {
    background-image: url(../images/BG-dark1280.jpg);
    background-repeat: no-repeat;
    height: 527px;

    &-title{
        padding-top: 85px;
        padding-bottom: 60px;
        font-size: 42px;
        line-height: 56.54px;
        width: 735px;
    }
    &__list {
        padding: 55px 107px 10px 107px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1215px;
    }
    }
    
    .problem__list-item {
        width: 285px;

        &:nth-child(-n+3) {
            margin-bottom: 30px;
        }
    }
    .problem__list-title {
        font-size: 18px; 
    }
    .problem__list-descr {
        font-size: 18px;
        line-height: 1.4;
    }
    } 
    @media (min-width:1680px) {
    .problems {
    background-image: url(../images/BG-dark1680.jpg);
    background-repeat: no-repeat;
    height: 560px;

    &-title{
        padding-top: 115px;
        padding-bottom: 80px;
        font-size: 46px;
        line-height: 62.54px;
        width: 800px;
    }
    &__list {
        padding: 40px 107px 10px 107px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1340px;
    }
    }
    .problem__list-item {
        width: 315px;

        &:nth-child(-n+3) {
            margin-bottom: 40px;
        }
    }
    .problem__list-title {
        font-size: 21px; 
    }
    .problem__list-descr {
        font-size: 21px;
        line-height: 1.4;
    }
    } 
   
      


