.program {
    background-color: $black-color;
    padding-top: 48px;
    padding-bottom: 435px;
    position: relative;

    &__img {
        position: absolute;
        right: 0;
        bottom: 300px;
    }
    &__title {
        @extend  %title-font;
        color: $white-color;
        text-align: center;
        letter-spacing: 0.9px;
        margin: 0;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &-scroll {
            padding-left: 40px;
        }
        &-descr {
            font-family: Montserrat, sans-serif;
            font-size: 11px;
            line-height: 20px;
            font-weight: 400;
            color: #4b4d4e;
            text-align: left;
            margin: 0;
            letter-spacing: 0.9px;
        }

        &-title  {
            font-family: Montserrat, sans-serif;
            font-size: 13px;
            line-height: 2.24;
            font-weight: 700;
            color: $orange-color;
            text-align: left;
            letter-spacing: 0.9px;
            padding: 16px 0;
            margin: 0;

            &::before {
                display: inline-block;
                content: "";
                width: 25px;
                height: 2px;
                background-color: $orange-color;
                margin-bottom: 4px;
                margin-right: 8px;
            }
        }

        &-semester {
            font-family: Montserrat, sans-serif;
            font-size: 15px;
            line-height: 29.17px;
            font-weight: 700;
            color: $white-color;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 0.9px;
            margin: 0;

            &::before {
                display: inline-block;
                content: "";
                width: 10px;
                height: 10px;
                background-color: $orange-color;
                border-radius: 50%; 
                margin-right: 30px;
            }
        }

        &-item {
            padding-top: 25px;
            width: 190px;
            text-align: center;
            margin: auto;
            position: relative;

            &:not(:last-child)::before {
                content: "";
                display: block;
                width: 2px;
                height: 100%;
                background-color: $color-line;
                position: absolute;
                top: 45px;
                left: 4px;
            }
        }
    }
}
@media (min-width: 768px) {
    .program {
        padding-top: 50px;
        padding-bottom: 360px;

        &__title {
            font-size: 26px;
            line-height: 62.54px;
            text-align: left;
        }  
        &__img {
            bottom: 250px;
        }
        &__list {
            margin-left: 90px;
    
            &-scroll {
                display: flex;
                justify-content: left;
            } 
            &-parts {
                width: 170px;
    
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
            &-item {
                text-align: left;
                margin: 0; 
                width: 600px; 
            } 
        }
    }
    }
@media (min-width: 1280px) {
    .program {
        padding-top: 70px;
        padding-bottom: 510px;
        position: relative;

        &__img {
            left: 0;
            bottom: 300px;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #546264;
            position: absolute;
            top: 165px;
        } 
        &__title {
            font-size: 42px;
            line-height: 62.54px;
            text-align: left;
        } 
        &__list {
            display: flex;
            justify-content: space-between;
            width: 1210px;
            margin: 0;

           &-item {
                width: 200px;

               &:not(:last-child)::before {
                    display: none;
                }
            }

           &-semester {
                font-size: 19px;
                line-height: 29.17px;

                &::before {
                    display: block;
                    margin-bottom: 25px;
                    width: 17px;
                    height: 17px;
                }              
            }

            &-title {
                font-size: 18px;
                line-height: 1.62;
            }
            &-descr {
                font-size: 20px;
                line-height: 1.5;
            } 
            &-scroll {
               display: block; 
               padding: 0;
            }
            &-parts {
                width: 200px;
            }
        }
    }
}
@media (min-width: 1680px) {
    .program {
        padding-top: 120px;
        padding-bottom: 390px;
        position: relative;

        &::before {
            height: 4px;
            position: absolute;
            top: 265px;
        }
        &__title {
            font-size: 46px;
            line-height: 62.54px;
            text-align: left;
        }
        &__list {
            width: 1350px;

           &-title {
                font-size: 21px;
                line-height: 1.4;
            }  

           &-semester {
                font-size: 29px;
                line-height: 1;

                &::before {
                    display: block;
                    margin-top: 50px;
                    margin-bottom: 45px;
                    width: 20px;
                    height: 20px;
                }
            } 
        }
        &__img {
            bottom: 120px;
        }    
    }      
}
   
    
   