$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(51, 51, 51);
$grey: rgb(153, 153, 153);
$light-gray: rgb(229, 229, 229);
$light-green: rgb(149, 225, 211);
$orange-color: rgb(252, 227, 138);
$pink-color: rgb(243, 129, 129);

$section-title-font: "Kaushan Script", sans-serif;
$section-subtitle-font: Montserrat, sans-serif;
$paragraf-font: "Roboto", sans-serif;


