.button-more {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 3px solid $primary-color;
    color: $primary-color;
    font-family: $section-subtitle-font;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 230px;
    padding: 11px 25px;
    text-align: center;
}