.page-footer {
    margin-top: 88px;
    border-top: 1px solid #e5e5e5;
    height: 62px;
    width: 1201px;
    margin: auto;

    &__block {
        display: flex;
        justify-content: space-between;
        width: 1201px;
        margin: auto;       
    }

    &__text {
        font-family: $section-subtitle-font;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: $secondary-color;
        margin-top: 24px;
    }
    &__text2 {
        font-family: $section-subtitle-font;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: $pink-color;
    }
}

.footer-button {
    display: flex;

    &__subscribe {
        width: 150px;
        height: 40px;
        background-color: $light-green;
        border: none;
        font-family: $section-subtitle-font;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        margin-top: 10px;
    }
}