.page-header {
    background-image: url("../images/Layer01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.page-header__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    opacity: 0.9;
}
.page-title {
    font-family: $section-title-font;
    font-size: 72px;
    line-height: 1.6;
    font-weight: 400;
    color:$primary-color;
    @extend %text-align-center;
    margin: 0;
    margin-bottom: 50px;
}
.page-subtitle {
    font-family: $section-subtitle-font;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    color: $primary-color;
    text-transform: uppercase;
    @extend %text-align-center;
    width: 835px;
    margin: 0 auto;
    margin-bottom: 125px;
}