.section-title {
    margin: 0 auto;
    margin-top: 50px;
    font-family: $section-title-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
    text-align: center;
}
