.team-list {
    @extend %flexbox;

    &__name {
        font-family: $paragraf-font;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: $secondary-color;
        text-transform: uppercase;
        @extend %text-align-center;
    }
    &__occupation  {
        font-family: $section-subtitle-font;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: $grey;
    @extend %text-align-center;
    }
    &__item {
        position: relative;
        @extend %cursor-pointer;

        &:hover .overlay {
            transition-property: background-image, box-shadow, opacity;
            opacity: 0.9;
            box-shadow: 10px 10px $light-green;
            transition-duration: 200ms;
            transition-timing-function: linear;
        }
        &:hover {
            transition-duration: 200ms;
            transform: translate(-10px, -10px);  
        }
    }
}
