$orange-color: #ff6b08;
$gray-color-menu: #bebebe;
$black-color: #18191d;
$gray-color-text: #b9b9b9;
$white-color: #ffffff;
$gray-guarantee-section:#f1f1f1;
$color-line:#546264;
$color-teacher-section:#858585;

