body {
    margin: 0;
}
.page-header {
    width: 1200px;
    margin: auto;
}

.site-navigation {
    display: flex;
    text-transform: uppercase;
    list-style: none; 
    right: 0;
    width: 494px;
    justify-content: space-between;
    padding: 0; 
    margin: 0;   
}

.site-navigation li:hover a {
    color: #f38181;
    border-bottom: 3px solid #f38181;
    padding-bottom: 10px;
}

.site-navigation a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1,2;
    font-weight: 400;
    color: #95e1d3;
    transition-property: color, border-bottom;
    transition-duration: 200ms;
    transition-timing-function: linear;
    cursor: pointer;
}
.site-header {
    position: relative;
    min-height: 80px; 
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    
}
.logo, .site-navigation {
    position: absolute;
  

}
.logo {
    left: 0;
    width: 86px;
    height: 23px;
}


.subtitle:after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: "";
    margin: 40px auto;
}
.container {
    width: 1201px;  
    margin: auto; 
}
.container2 {
    width: 1201px;
    margin: auto;
}
.title {
    margin: 0 auto;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
}
.subtitle {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #333333;
    text-transform: uppercase;
}
.title, .subtitle {
    text-align: center;
}
   
.list-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 40px;
    
}

.h4-1::before {
    content: url(../img/icon-1.png);
    position: absolute;
    right: 330px;
}
.h4-2::before {
    content: url(../img/icon-2.png);
    position: absolute;
    right: 330px;
}
.h4-3::before {
    content: url(../img/icon-3.png);
    position: absolute;
    right: 330px;
}
.h4-4::before {
    content: url(../img/icon-4.png);
    position: absolute;
    right: 330px;
}
.h4-5::before {
    content: url(../img/icon-5.png);
    position: absolute;
    right: 330px;
}
.h4-6::before {
    content: url(../img/icon-6.png);
    position: absolute;
    right: 330px;
}
.list-service li {
    list-style: none;
    margin-top: 0;
    width: 300px;
    position: relative;
    padding-left: 60px;

}
.team-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}
.about-team {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #999999;
    margin-top: 0;
    margin-bottom: 90px;
}
.about-service {
    margin-top: 0;
    margin-bottom: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b3b3b3;
}

h4 {
    margin-bottom: 18px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.name {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.occupation {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
}
.page-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-top: 88px;
    border-top: 1px solid #e5e5e5;
    height: 62px;
}
.text-footer {
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    margin-top: 24px;
}
.text-footer2 {
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #f38181;
}
.input-field {
    border: 1px solid #e7e7e7;
    width: 229px;
    height: 36px;
    font-family: "Roboto", sans-serif;
    color: #d9d9d9;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;  
    font-style: italic;
    margin-top: 10px;
}
.subscribe {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    font-family: "Monrserrat",  sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
}
.field-button {
    display: flex;
}
.overlay {
    width: 380px;
    height: 470px;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%); 
    position: absolute;   
    opacity: 0; 
}

.team-item {
    position: relative;
}
.team-item:hover .overlay {
    opacity: 1;
}
.social-media {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    list-style: none;
    display: inline-block;
    
   
  
}
.facebook, .twitter, .pinterest, .instagram {
    opacity: 0;
}