body {
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-header {
    
    margin: 0 auto;
    padding: 0;
    height: 65px;   
    margin: auto;    
}
.site-header {
    width: 1110px;
    margin: auto;
   
}
.logo {
    float: left;
    padding-top: 15px;
}
.site-navigation {
    width: 470px;
    margin: 0;
    padding: 0;
    list-style: none;  
    float: right; 
    padding:20px 0;    
}
.site-navigation li {
    float: left;
}
.site-navigation li:hover a {
    color: #1abc9c;
}
.site-navigation li:not(:last-child) {
    margin-right: 28px;
}
.site-navigation a {
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.786;
    font-size: 14px; 
    color: #0f0101;
    text-decoration: none;
}
.container {
    position: relative;
    width: 1600px;
    height: 600px;
}
.big-slider {
    background-attachment: fixed;
    width: 100%;
}
.background {
    width: 100%;
    min-height:600px;
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
    position: absolute;
    top: 0;
    left: 0;
}
.text1  {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.heading {
    font-family: Roboto, sans-serif;
    font-size: 60px;
    line-height: 1.367;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}
.subtitle {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}
.back {
    position: absolute;
    background-color: #1abc9c;
    width: 104px;
    height: 104px;
    border: none;
    top:50%;
    left:244px;
    transform: translateY(-50%);
}
.next {
    position: absolute;
    background-color: #1abc9c;
    width: 104px;
    height: 104px;
    border: none;
    top:50%;
    right: 244px;
    transform: translateY(-50%);  
}
.container-2 {
    width: 1600px;
    background-color: #e9f0fd;
    padding-top: 92px;
    padding-bottom: 100px;
}
.collection{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 80px;
}
.collection::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.overlay {
    width: 235px;
    height: 261px;
    color: #000000;
    opacity: 0.549;
    position: absolute;
    top: 10px;
    left: 10px;  
} 
    
.product-list-item {
    position: relative;
    list-style: none; 

}
.like, .arrow, .clock {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-bottom: 7px;
         
}
.like, .arrow {
    margin-right: 9px;
   
}
.cart {
   width: 168px;
   height: 50px;
   border: 1px solid #ffffff;
   background-color: transparent;

}
.icons-cart {
    width: 168px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  

}